<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<h1>ゴーヤインフォメーション</h1>
<!-- formに囲まれている内容を、indicate.rb(cgi)に送信しますという記述 -->
<% require 'pg' %>
<% connection = PG::connect(dbname:"goya") %>
<% connection.internal_encoding %>

<% result = connection.exec("select *  from crops where give_for<>'自家消費';") %>
<% dataNotSelf = [] %>
<% result.each do |record| %>
  <% dataNotSelf << "ゴーヤの大きさ：#{record["weight"]}　ゴーヤの長さ：#{record["length"]}　ゴーヤの品質：#{record["quality"]}　売った相手：#{record["give_for"]}" %>
<% end %>
<% result = connection.exec("select * from crops where quality = false;") %>
<% dataBadQuality = [] %>
<% result.each do |record| %>
  <% dataBadQuality << "ゴーヤの大きさ：#{record["weight"]}　ゴーヤの長さ：#{record["length"]}　ゴーヤの品質：#{record["quality"]}　売った相手：#{record["give_for"]}" %>
<% end %>
<form action="goyaNotSelf.cgi" method="POST">
  自家消費ではないゴーヤ情報<br><br>
  <!-- valueには、送りたいデータを代入する -->
  <!-- name="goya"を、情報の目印とする -->
  <input type="text" name="goyaNotSelf" value="<%= dataNotSelf.join(' ') %>">
  <input type="submit" name="自家消費以外" >
</form>
<form action="goyaBadQuality.cgi" method="POST">
  品質が悪いゴーヤ情報<br><br>
  <!-- valueには、送りたいデータを代入する -->
  <!-- name="goya"を、情報の目印とする -->
  <input type="text" name="goyaBadQuality" value="<%= dataBadQuality.join(' ') %>">
  <input type="submit" name="品質が悪い" >
</body>
</html>